.App {
  text-align: center;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  background-image: url(img/weather3.jpg);
  background-repeat: no-repeat;
  position: fixed;
}
.left {
  height: 100%;
  width: 33%;
  position: absolute;
  float: left;
}
.right {
  height: 100%;
  width: 67%;
  right: 0;
  background: #ffbe76;
  position: absolute;
  background-image: url(img/lines.svg);
}
